Repository andreevWork/tax-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css,scss,md,html}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix"]
}

ci: update devstand.yml
  .github/workflows/devstand.yml
Due: none

chore: remove unused files
  devstand/PR-9/assets/index-BMg0DCGe.css
  devstand/PR-9/assets/index-DcwdTgoC.js
  devstand/PR-9/index.html
Due: prettier --write

ci: update devstand.yml logic
  .github/workflows/devstand.yml
Due: none

style: apply formatting to static.yml
  .github/workflows/static.yml
Due: none

ci: update comment body
  .github/workflows/devstand.yml
Due: none

ci: deploy devstand preview only on successful build
  .github/workflows/devstand.yml
Due: none

ci: build Vite app and deploy dist using npm ci
  .github/workflows/static.yml
Due: none

ci: update PR preview comment instead of creating new one
  .github/workflows/devstand.yml
Due: none

TAX-7: devstand preview (#9)
  .github/workflows/devstand.yml
  .github/workflows/static.yml
  .nojekyll
  vite.config.js
Due: prettier --write

fix: restore utils
  src/utils/delay.ts
Due: prettier --write, eslint --fix

feat: add country store
  src/components/TaxChart/TaxChart.tsx
  src/components/caseSettings/CaseSettings.module.css
  src/components/caseSettings/CaseSettings.tsx
  src/store/country/useCountryStore.ts
  src/store/index.ts
  src/styles/variables.css
Due: prettier --write, eslint --fix

feat: validate CountriesData
  src/api/countries.ts
Due: prettier --write, eslint --fix

docs: add new country instruction
  docs/ADD_NEW_COUNTRY.md
  src/domain/taxes/__tests__/taxCalculatorFactory.test.ts
  src/domain/taxes/factories/TaxCalculatorFactory.ts
  src/domain/taxes/factories/index.ts
  src/domain/taxes/index.ts
Due: prettier --write, eslint --fix

refactor: remove ports and simplify architecture
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/calculateDeductions.test.ts
  src/domain/taxes/__tests__/calculateTaxes.test.ts
  src/domain/taxes/consumption/ConsumptionTaxCalculator.ts
  src/domain/taxes/deductions/ChildrenDeductionCalculator.ts
  src/domain/taxes/deductions/DeductionCalculator.ts
  src/domain/taxes/deductions/index.ts
  src/domain/taxes/income/IncomeTaxCalculator.ts
  src/domain/taxes/index.ts
  src/domain/taxes/ports.ts
Due: prettier --write, eslint --fix

feat: implement dynamic country loading with code splitting
  docs/ADD_NEW_COUNTRY.md
  src/api/countries.ts
  src/components/TaxChart/TaxChart.tsx
  src/components/caseSettings/CaseSettings.tsx
  src/data/countries/germany.json
  src/data/countries/index.ts
  src/data/countries/metadata.ts
  src/data/countries/russia.json
  src/data/countries/serbia.json
  src/data/tax.data.json
  src/store/country/useCountryStore.ts
Due: prettier --write, eslint --fix

refactor: move calculator types to domain and rename UserInputs to CalculatorInput
  docs/ADD_NEW_COUNTRY.md
  src/api/countries.ts
  src/components/caseSettings/CaseSettings.tsx
  src/data/countries/index.ts
  src/data/countries/metadata.ts
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/calculateChildrenDeduction.test.ts
  src/domain/taxes/__tests__/calculateDeductions.test.ts
  src/domain/taxes/__tests__/calculateIncomeTax.test.ts
  src/domain/taxes/__tests__/calculateTaxes.test.ts
  src/domain/taxes/__tests__/consumptionTaxCalculator.test.ts
  src/domain/taxes/__tests__/countrySchema.test.ts
  src/domain/taxes/consumption/ConsumptionTaxCalculator.ts
  src/domain/taxes/consumption/index.ts
  src/domain/taxes/consumption/strategies/GstStrategy.ts
  src/domain/taxes/consumption/strategies/SalesTaxStrategy.ts
  src/domain/taxes/consumption/strategies/VatStrategy.ts
  src/domain/taxes/consumption/strategies/types.ts
  src/domain/taxes/consumption/types.ts
  src/domain/taxes/deductions/ChildrenDeductionCalculator.ts
  src/domain/taxes/deductions/DeductionCalculator.ts
  src/domain/taxes/deductions/index.ts
  src/domain/taxes/deductions/strategies/PerChildMonthlyStrategy.ts
  src/domain/taxes/deductions/strategies/PerChildYearStrategy.ts
  src/domain/taxes/deductions/strategies/types.ts
  src/domain/taxes/deductions/types.ts
  src/domain/taxes/income/IncomeTaxCalculator.ts
  src/domain/taxes/income/index.ts
  src/domain/taxes/income/strategies/FlatStrategy.ts
  src/domain/taxes/income/strategies/ProgressiveStrategy.ts
  src/domain/taxes/income/strategies/types.ts
  src/domain/taxes/income/types.ts
  src/domain/taxes/index.ts
  src/domain/taxes/schemas/countrySchema.ts
  src/domain/taxes/types.ts
  src/store/country/useCountryStore.ts
  src/types/taxes.ts
Due: prettier --write, eslint --fix

country select + claude
  .claude/rules/basics.md
  .gitignore
  .mcp.json
  .nvmrc
  CLAUDE.md
  README.md
  package.json
  src/components/CountrySelect/CountrySelect.module.css
  src/components/CountrySelect/CountrySelect.tsx
  src/components/GlobalSettings/GlobalSettings.tsx
  src/constants/countries.ts
Due: prettier --write, eslint --fix

Update README.md
  README.md
Due: prettier --write

refactor: remove type assertion (as CountryCode)
  src/components/CountrySelect/CountrySelect.tsx
Due: prettier --write, eslint --fix

test(e2e): add country select tests
  e2e/app.spec.ts
  e2e/country-select.spec.ts
Due: prettier --write, eslint --fix

country select + claude (#10)
  .claude/rules/basics.md
  .gitignore
  .mcp.json
  .nvmrc
  CLAUDE.md
  README.md
  e2e/app.spec.ts
  e2e/country-select.spec.ts
  package.json
  src/components/CountrySelect/CountrySelect.module.css
  src/components/CountrySelect/CountrySelect.tsx
  src/components/GlobalSettings/GlobalSettings.tsx
  src/constants/countries.ts
Due: prettier --write, eslint --fix

feat: add calculator form
  src/components/GlobalSettings/GlobalSettings.module.css
  src/components/GlobalSettings/GlobalSettings.tsx
  src/components/TaxChart/TaxChart.tsx
  src/components/caseSettings/CaseSettings.module.css
  src/components/caseSettings/CaseSettings.tsx
  src/components/caseSettings/useCaseSettingsFields.ts
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/store/index.ts
  src/store/сalculatorInput/useCalculatorInputStore.ts
  src/styles/global.css
  src/styles/variables.css
Due: prettier --write, eslint --fix

feat: add callculator results
  src/components/TaxChart/TaxChart.module.css
  src/components/TaxChart/TaxChart.tsx
  src/components/caseSettings/useCaseSettingsFields.ts
  src/domain/taxes/index.ts
  src/pages/HomePage/HomePage.tsx
  src/store/index.ts
  src/store/taxResult/useTaxResultStore.ts
Due: prettier --write, eslint --fix

fix: typo
  src/store/calculatorInput/useCalculatorInputStore.ts
  src/store/index.ts
Due: prettier --write, eslint --fix

fix: typo
  src/components/CaseSettings/CaseSettings.module.css
  src/components/CaseSettings/CaseSettings.tsx
  src/components/CaseSettings/useCaseSettingsFields.ts
Due: prettier --write, eslint --fix

test: correct according to UI
  e2e/country-select.spec.ts
Due: prettier --write, eslint --fix

feat: correct layout styles
  src/components/CaseSettings/CaseSettings.module.css
  src/components/CaseSettings/CaseSettings.tsx
  src/components/TaxChart/TaxChart.module.css
  src/components/TaxChart/TaxChart.tsx
  src/styles/shared.module.css
  src/styles/variables.css
Due: prettier --write, eslint --fix

feat: add logo
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/pages/HomePage/HomePage.tsx
  src/styles/shared.module.css
Due: prettier --write, eslint --fix

feat: add favicon
  index.html
  public/favicon.svg
Due: prettier --write

feat: add textCenter
  src/pages/HomePage/HomePage.tsx
  src/styles/shared.module.css
Due: prettier --write, eslint --fix

refactor: move useCaseSettingsFields hook to src/hooks
  src/components/CaseSettings/CaseSettings.tsx
  src/hooks/useCaseSettingsFields.ts
Due: prettier --write, eslint --fix

Tax 11/case settings (#11)
  e2e/country-select.spec.ts
  index.html
  public/favicon.svg
  src/components/CaseSettings/CaseSettings.module.css
  src/components/CaseSettings/CaseSettings.tsx
  src/components/GlobalSettings/GlobalSettings.module.css
  src/components/GlobalSettings/GlobalSettings.tsx
  src/components/Header/Header.tsx
  src/components/Logo/Logo.tsx
  src/components/TaxChart/TaxChart.module.css
  src/components/TaxChart/TaxChart.tsx
  src/components/caseSettings/CaseSettings.module.css
  src/components/caseSettings/CaseSettings.tsx
  src/domain/taxes/index.ts
  src/hooks/useCaseSettingsFields.ts
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/store/calculatorInput/useCalculatorInputStore.ts
  src/store/index.ts
  src/store/taxResult/useTaxResultStore.ts
  src/styles/global.css
  src/styles/shared.module.css
  src/styles/variables.css
Due: prettier --write, eslint --fix

feat: add workflow and script for rates download
  .github/workflows/update-exchange-rates.yml
  eslint.config.js
  package.json
  public/exchange-rates.json
  scripts/utils/download-rates.js
Due: prettier --write

refactor: change rate api
  public/exchange-rates.json
  scripts/utils/download-rates.js
Due: prettier --write

feat: implement Currency select
  .github/workflows/update-exchange-rates.yml
  AGENTS.md
  package-lock.json
  package.json
  src/api/currency.ts
  src/components/CurrencySelect/CurrencySelect.module.css
  src/components/CurrencySelect/CurrencySelect.tsx
  src/components/GlobalSettings/GlobalSettings.module.css
  src/components/GlobalSettings/GlobalSettings.tsx
  src/components/TaxChart/ResultRow.tsx
  src/components/TaxChart/TaxChart.tsx
  src/hooks/useCaseSettingsFields.ts
  src/hooks/useCurrencySelect.ts
  src/hooks/useTaxChart.ts
  src/pages/HomePage/HomePage.tsx
  src/store/currency/useCurrencyStore.ts
  src/store/index.ts
  src/types/types.ts
  src/utils/currencyConversion.ts
Due: prettier --write, eslint --fix

feat: convert gross-income when SelectedCurrency is changed
  src/hooks/useCaseSettingsFields.ts
Due: prettier --write, eslint --fix

feat: change currencies list
  src/constants/currency.ts
  src/hooks/useCurrencySelect.ts
Due: prettier --write, eslint --fix

test(e2e): add currency select tests
  e2e/currency-select.spec.ts
  src/components/CurrencySelect/CurrencySelect.tsx
Due: prettier --write, eslint --fix
