Repository andreevWork/tax-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

docs: update AGENTS.md
  AGENTS.md
Due: prettier --write

Tax 12: currency select (#12)
  .github/workflows/update-exchange-rates.yml
  AGENTS.md
  e2e/currency-select.spec.ts
  eslint.config.js
  package-lock.json
  package.json
  public/exchange-rates.json
  scripts/utils/download-rates.js
  src/api/currency.ts
  src/components/CurrencySelect/CurrencySelect.module.css
  src/components/CurrencySelect/CurrencySelect.tsx
  src/components/GlobalSettings/GlobalSettings.module.css
  src/components/GlobalSettings/GlobalSettings.tsx
  src/components/TaxChart/ResultRow.tsx
  src/components/TaxChart/TaxChart.tsx
  src/constants/currency.ts
  src/hooks/useCaseSettingsFields.ts
  src/hooks/useCurrencySelect.ts
  src/hooks/useTaxChart.ts
  src/pages/HomePage/HomePage.tsx
  src/store/currency/useCurrencyStore.ts
  src/store/index.ts
  src/types/types.ts
  src/utils/currencyConversion.ts
Due: prettier --write, eslint --fix

chore: update github-workflow with rates downloading
  .github/workflows/static.yml
Due: none

chore: update github-workflow with rates downloading (#13)
  .github/workflows/static.yml
Due: none

docs: update add-new-country instruction
  docs/ADD_NEW_COUNTRY.md
  src/domain/taxes/income/strategies/FlatStrategy.ts
  src/domain/taxes/income/strategies/ProgressiveStrategy.ts
Due: prettier --write, eslint --fix

feat: add Tax Data Verification skill and workflow
  .agents/skills/verify-tax-data/SKILL.md
  .agents/skills/verify-tax-data/sources.json
  .agents/workflows/verify-tax-data.md
Due: prettier --write

fix: update Russia income tax progressive scale
  docs/verification-reports/russia.md
  src/data/countries/russia.json
Due: prettier --write

feat: update Germany data
  .agents/workflows/verify-tax-data.md
  docs/verification-reports/germany.md
  src/data/countries/germany.json
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/calculateIncomeTax.test.ts
  src/domain/taxes/income/IncomeTaxCalculator.ts
  src/domain/taxes/income/index.ts
  src/domain/taxes/income/strategies/FlatStrategy.ts
  src/domain/taxes/income/strategies/FormulaStrategy.ts
  src/domain/taxes/income/strategies/ProgressiveStrategy.ts
  src/domain/taxes/income/strategies/index.ts
  src/domain/taxes/income/strategies/types.ts
  src/domain/taxes/income/types.ts
  src/domain/taxes/schemas/countrySchema.ts
Due: prettier --write, eslint --fix

chore: create add-new-country workflow
  .agents/skills/add-new-country/SKILL.md
  .agents/workflows/add-new-country.md
Due: prettier --write

chore: create research-country-tax workflow
  .agents/skills/research-country-tax/SKILL.md
  .agents/workflows/research-country-tax.md
  docs/ADD_NEW_COUNTRY.md
  docs/country-research/france.md
  docs/verification-reports/russia.md
  src/data/countries/russia.json
Due: prettier --write

Tax 13/tax validation (#14)
  .agents/skills/add-new-country/SKILL.md
  .agents/skills/research-country-tax/SKILL.md
  .agents/skills/verify-tax-data/SKILL.md
  .agents/skills/verify-tax-data/sources.json
  .agents/workflows/add-new-country.md
  .agents/workflows/research-country-tax.md
  .agents/workflows/verify-tax-data.md
  docs/ADD_NEW_COUNTRY.md
  docs/country-research/france.md
  docs/verification-reports/germany.md
  docs/verification-reports/russia.md
  src/data/countries/germany.json
  src/data/countries/russia.json
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/calculateIncomeTax.test.ts
  src/domain/taxes/income/IncomeTaxCalculator.ts
  src/domain/taxes/income/index.ts
  src/domain/taxes/income/strategies/FlatStrategy.ts
  src/domain/taxes/income/strategies/FormulaStrategy.ts
  src/domain/taxes/income/strategies/ProgressiveStrategy.ts
  src/domain/taxes/income/strategies/index.ts
  src/domain/taxes/income/strategies/types.ts
  src/domain/taxes/income/types.ts
  src/domain/taxes/schemas/countrySchema.ts
Due: prettier --write, eslint --fix

chore: add Claude skills
  .claude/rules/architecture.md
  .claude/skills/add-new-country/SKILL.md
  .claude/skills/research-country-tax/SKILL.md
  .claude/skills/verify-tax-data/SKILL.md
  .claude/skills/verify-tax-data/sources.json
Due: prettier --write

refactor: move income tax base resolution into strategies
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/calculateIncomeTax.test.ts
  src/domain/taxes/income/IncomeTaxCalculator.ts
  src/domain/taxes/income/strategies/FlatStrategy.ts
  src/domain/taxes/income/strategies/FormulaStrategy.ts
  src/domain/taxes/income/strategies/ProgressiveStrategy.ts
  src/domain/taxes/income/strategies/types.ts
Due: prettier --write, eslint --fix

feat: add Post-Tax Adjustments
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/postTaxAdjustments.test.ts
  src/domain/taxes/index.ts
  src/domain/taxes/postAdjustments/PostTaxAdjustmentCalculator.ts
  src/domain/taxes/postAdjustments/index.ts
  src/domain/taxes/postAdjustments/strategies/DecoteStrategy.ts
  src/domain/taxes/postAdjustments/strategies/index.ts
  src/domain/taxes/postAdjustments/strategies/types.ts
  src/domain/taxes/postAdjustments/types.ts
  src/domain/taxes/schemas/countrySchema.ts
  src/domain/taxes/types.ts
Due: prettier --write, eslint --fix

feat: add France
  src/components/TaxChart/TaxChart.tsx
  src/constants/countries.ts
  src/data/countries/france.json
  src/data/countries/index.ts
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/familyQuotient.test.ts
  src/domain/taxes/deductions/types.ts
  src/domain/taxes/income/index.ts
  src/domain/taxes/income/strategies/FamilyQuotientStrategy.ts
  src/domain/taxes/income/strategies/ProgressiveStrategy.ts
  src/domain/taxes/income/strategies/applyBrackets.ts
  src/domain/taxes/income/strategies/index.ts
  src/domain/taxes/income/types.ts
  src/domain/taxes/schemas/countrySchema.ts
  src/hooks/useCaseSettingsFields.ts
Due: prettier --write, eslint --fix

feat: clear results
  src/store/country/useCountryStore.ts
Due: prettier --write, eslint --fix

Tax 14/refactor strategies (#15)
  .claude/rules/architecture.md
  .claude/skills/add-new-country/SKILL.md
  .claude/skills/research-country-tax/SKILL.md
  .claude/skills/verify-tax-data/SKILL.md
  .claude/skills/verify-tax-data/sources.json
  src/components/TaxChart/TaxChart.tsx
  src/constants/countries.ts
  src/data/countries/france.json
  src/data/countries/index.ts
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/calculateIncomeTax.test.ts
  src/domain/taxes/__tests__/familyQuotient.test.ts
  src/domain/taxes/__tests__/postTaxAdjustments.test.ts
  src/domain/taxes/deductions/types.ts
  src/domain/taxes/income/IncomeTaxCalculator.ts
  src/domain/taxes/income/index.ts
  src/domain/taxes/income/strategies/FamilyQuotientStrategy.ts
  src/domain/taxes/income/strategies/FlatStrategy.ts
  src/domain/taxes/income/strategies/FormulaStrategy.ts
  src/domain/taxes/income/strategies/ProgressiveStrategy.ts
  src/domain/taxes/income/strategies/applyBrackets.ts
  src/domain/taxes/income/strategies/index.ts
  src/domain/taxes/income/strategies/types.ts
  src/domain/taxes/income/types.ts
  src/domain/taxes/index.ts
  src/domain/taxes/postAdjustments/PostTaxAdjustmentCalculator.ts
  src/domain/taxes/postAdjustments/index.ts
  src/domain/taxes/postAdjustments/strategies/DecoteStrategy.ts
  src/domain/taxes/postAdjustments/strategies/index.ts
  src/domain/taxes/postAdjustments/strategies/types.ts
  src/domain/taxes/postAdjustments/types.ts
  src/domain/taxes/schemas/countrySchema.ts
  src/domain/taxes/types.ts
  src/hooks/useCaseSettingsFields.ts
  src/store/country/useCountryStore.ts
Due: prettier --write, eslint --fix

refactor: remove magic numbers
  .github/workflows/ci.yml
  src/domain/taxes/income/strategies/FamilyQuotientStrategy.ts
Due: prettier --write, eslint --fix

refactor: implement unique-type for country specific incomTax
  .claude/rules/architecture.md
  AGENTS.md
  docs/ADD_NEW_COUNTRY.md
  src/data/countries/france.json
  src/data/countries/germany.json
  src/domain/taxes/TaxCalculator.ts
  src/domain/taxes/__tests__/calculateIncomeTax.test.ts
  src/domain/taxes/__tests__/familyQuotient.test.ts
  src/domain/taxes/income/IncomeTaxCalculator.ts
  src/domain/taxes/income/index.ts
  src/domain/taxes/income/strategies/common/FlatStrategy.ts
  src/domain/taxes/income/strategies/common/ProgressiveStrategy.ts
  src/domain/taxes/income/strategies/countries/FranceFamilyQuotientStrategy.ts
  src/domain/taxes/income/strategies/countries/GermanyFormulaStrategy.ts
  src/domain/taxes/income/strategies/index.ts
  src/domain/taxes/income/strategies/types.ts
  src/domain/taxes/income/strategies/utils/applyBrackets.ts
  src/domain/taxes/income/types.ts
  src/domain/taxes/schemas/countrySchema.ts
  src/hooks/useCaseSettingsFields.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,json,css,scss,md,html}
  eslint --fix: any of: *.{ts,tsx}
