Repository andreevWork/tax-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css,scss,md,html}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix"]
}

chore: setup vitest
  eslint.config.js
  package-lock.json
  package.json
  src/App.test.tsx
  src/setupTests.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: add tests coverage
  .gitignore
  package-lock.json
  package.json
  vitest.config.ts
Due: prettier --write, eslint --fix

chore: add basic GitHub Actions CI pipeline
  .github/workflows/ci.yml
  .prettierrc
Due: none

chore: add check branch naming convention
  .github/workflows/ci.yml
  .husky/pre-push
Due: none

fix: update husky pre-push for v10 compatibility
  .husky/pre-push
Due: none

feat: create basic page skeleton
  index.html
  public/vite.svg
  src/App.module.css
  src/App.tsx
  src/assets/react.svg
  src/components/caseSettings/caseSettings.tsx
  src/components/chart/TaxChart.tsx
  src/components/layout/GlobalSettings.tsx
  src/components/layout/Header.tsx
  src/index.css
  src/main.tsx
  src/pages/HomePage.tsx
  src/styles/global.css
Due: prettier --write, eslint --fix

feat: add SCSS variables and update global import
  src/main.tsx
  src/styles/global.scss
  src/styles/variables.scss
Due: prettier --write, eslint --fix

chore: install SCSS support
  package-lock.json
  package.json
Due: prettier --write

chore: install Zustand for state management
  package-lock.json
  package.json
Due: prettier --write

feat: add Zustand store structure with example stores
  src/App.tsx
  src/store/app/useAppStore.ts
  src/store/index.ts
  src/store/theme/useThemeStore.ts
  src/store/user/useUserStore.ts
Due: prettier --write, eslint --fix

docs: add Zustand state management documentation
  src/store/README.md
Due: prettier --write

refactor: correct ci
  .github/workflows/ci.yml
  .husky/pre-push
  eslint.config.js
  scripts/checkBranchName.js
  scripts/ciSummary.js
Due: prettier --write

fix: pipeline artifacts
  .github/workflows/ci.yml
Due: none

refactor: correct jobs order
  .github/workflows/ci.yml
Due: none

fix: set error status to jobs
  .github/workflows/ci.yml
Due: none

fix: add errors info to summary
  scripts/ciSummary.js
Due: prettier --write

fix: add error details to the summary
  .github/workflows/ci.yml
  scripts/checkBranchName.js
  scripts/ciSummary.js
Due: prettier --write

fix: ensure pipefail is set for lint, format, and build steps
  .github/workflows/ci.yml
Due: none

refactor: create setup-and-run action
  .github/actions/setup-and-run/action.yml
  .github/workflows/ci.yml
  scripts/ciSummary.js
  scripts/utils.js
Due: prettier --write

style: format by prettier
  .github/actions/setup-and-run/action.yml
  .github/workflows/ci.yml
  eslint.config.js
  package-lock.json
  scripts/checkBranchName.js
  scripts/ciSummary.js
Due: prettier --write

feat: add unit-test to ci
  .github/workflows/ci.yml
  package-lock.json
  src/App.test.tsx
  src/App.tsx
Due: prettier --write, eslint --fix

test: add playwright e2e tests
  .github/workflows/ci.yml
  .gitignore
  e2e/app.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
  vite.config.js
Due: prettier --write, eslint --fix

deps: remove sass dependencies
  package-lock.json
  package.json
Due: prettier --write

refactor: migrate styles from SCSS to CSS
  src/styles/global.css
  src/styles/variables.css
  src/styles/variables.scss
Due: prettier --write

refactor: update global styles import
  src/main.tsx
Due: prettier --write, eslint --fix

refactor: extract inline styles to CSS modules and update folder structure
  src/App.module.css
  src/App.tsx
  src/components/GlobalSettings/GlobalSettings.module.css
  src/components/GlobalSettings/GlobalSettings.tsx
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/TaxChart/TaxChart.module.css
  src/components/TaxChart/TaxChart.tsx
  src/components/caseSettings/CaseSettings.module.css
  src/components/caseSettings/caseSettings.tsx
  src/components/chart/TaxChart.tsx
  src/components/layout/GlobalSettings.tsx
  src/components/layout/Header.tsx
  src/pages/HomePage.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
Due: prettier --write, eslint --fix

style: fix class naming
  src/components/GlobalSettings/GlobalSettings.tsx
Due: prettier --write, eslint --fix

fix: run multi-line command
  .github/actions/setup-and-run/action.yml
Due: none

fix: add code with errors
  src/App.tsx
Due: prettier --write, eslint --fix

feat: add checks-info to ciSummary
  .github/workflows/ci.yml
  scripts/ciSummary.js
Due: prettier --write

fix: add errors-info to Summary
  .github/actions/setup-and-run/action.yml
Due: none

fix: CI error output to capture both stdout and stderr
  .github/actions/setup-and-run/action.yml
Due: none

fix: run all CI jobs independently with if: always()
  .github/workflows/ci.yml
Due: none

fix: upload only status file per job artifact
  .github/actions/setup-and-run/action.yml
Due: none

fix: strip ANSI color codes from error output before JSON
  .github/actions/setup-and-run/action.yml
Due: none

fix: fix import path after case-sensitive folder conflict
  src/pages/HomePage/HomePage.tsx
Due: prettier --write, eslint --fix

fix: rename caseSettings.tsx to CaseSettings.tsx
  src/components/caseSettings/CaseSettings.tsx
Due: prettier --write, eslint --fix

fix: correct ci-artifacts flow
  .github/actions/setup-and-run/action.yml
  .github/workflows/ci.yml
Due: none

refactor: reorder dirs structure
  .github/workflows/ci.yml
  eslint.config.js
  scripts/ci/checkBranchName.js
  scripts/ci/ciSummary.js
  scripts/tests/setupTests.ts
  scripts/utils/readJson.js
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix
