Repository andreevWork/tax-app: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,json,css,scss,md,html}": ["prettier --write"],
  "*.{ts,tsx}": ["eslint --fix"]
}

fix: include e2e to tsconfig
  tsconfig.json
Due: prettier --write

fix: install Playwright browsers for e2e in CI
  .github/workflows/ci.yml
Due: none

chore: remove **/*.js from globalIgnores and add rule for scripts/ci/**/*.js
  eslint.config.js
Due: prettier --write

chore: set ci-workflow permission to read
  .github/workflows/ci.yml
Due: none

Tax 3: setup tests (#4)
  .github/actions/setup-and-run/action.yml
  .github/workflows/ci.yml
  .gitignore
  e2e/app.spec.ts
  eslint.config.js
  package-lock.json
  package.json
  playwright.config.ts
  scripts/ci/checkBranchName.js
  scripts/ci/ciSummary.js
  scripts/tests/setupTests.ts
  scripts/utils/readJson.js
  src/App.test.tsx
  src/App.tsx
  tsconfig.json
  vite.config.js
  vitest.config.ts
Due: prettier --write, eslint --fix

feat: add tax data
  src/data/tax.data.json
Due: prettier --write

feat: create core tax data types and interfaces
  src/constants/countries.ts
  src/data/tax.data.json
  src/types/taxes.ts
Due: prettier --write, eslint --fix

feat: add countries api
  src/App.tsx
  src/api/countries.ts
  src/utils/delay.ts
Due: prettier --write, eslint --fix

feat: add User Inputs, Outputs interfaces
  src/types/taxes.ts
Due: prettier --write, eslint --fix

fix: correct command
  .github/workflows/ci.yml
Due: none

feat: calculate taxes
  src/data/tax.data.json
  src/types/taxes.ts
  src/utils/calculateTaxes/calculateChildrenDeduction.ts
  src/utils/calculateTaxes/calculateDeductions.ts
  src/utils/calculateTaxes/calculateIncomeTax.ts
  src/utils/calculateTaxes/calculateTaxes.ts
Due: prettier --write, eslint --fix

fix: add missing main heading on HomePage to pass tests
  src/pages/HomePage/HomePage.tsx
Due: prettier --write, eslint --fix

fix: correct command order
  .github/workflows/ci.yml
Due: none

fix: correct command order (#8)
  .github/workflows/ci.yml
Due: none

chore: add rule to disallow exported arrow functions
  eslint.config.js
  src/utils/calculateTaxes/calculateTaxes.ts
  src/utils/delay.ts
Due: prettier --write, eslint --fix

fix: change arrow functions
  src/api/countries.ts
Due: prettier --write, eslint --fix

test: implement calculateChildrenDeduction tests
  src/data/tax.data.json
  src/utils/calculateTaxes/__tests__/calculateChildrenDeduction.test.ts
  src/utils/calculateTaxes/calculateChildrenDeduction.ts
  vitest.config.ts
Due: prettier --write, eslint --fix

test: implement calculateDeductions tests
  src/types/taxes.ts
  src/utils/calculateTaxes/__tests__/calculateDeductions.test.ts
  src/utils/calculateTaxes/calculateDeductions.ts
Due: prettier --write, eslint --fix

fix: correct parameter in calculateTaxes
  src/utils/calculateTaxes/calculateTaxes.ts
Due: prettier --write, eslint --fix

test: implement calculateIncomeTax tests
  src/utils/calculateTaxes/__tests__/calculateIncomeTax.test.ts
  src/utils/calculateTaxes/calculateIncomeTax.ts
Due: prettier --write, eslint --fix

test: implement calculateTaxes tests
  src/utils/calculateTaxes/__tests__/calculateTaxes.test.ts
Due: prettier --write, eslint --fix

refactor: remove unused code
  src/App.tsx
Due: prettier --write, eslint --fix

test(e2e): move dev server startup to Playwright webServer config
  .github/workflows/ci.yml
  playwright.config.ts
Due: prettier --write, eslint --fix

test(e2e): upload Playwright report on failure only
  .github/workflows/ci.yml
Due: none

fix: correct e2e step in CI
  .github/workflows/ci.yml
Due: none

refactor: extract web server port into constant in playwright config
  playwright.config.ts
Due: prettier --write, eslint --fix

Add GitHub Actions workflow for GitHub Pages deployment
  .github/workflows/static.yml
Due: none

feat: add basic page skeleton
  index.html
  package-lock.json
  public/vite.svg
  src/App.tsx
  src/assets/react.svg
  src/components/GlobalSettings/GlobalSettings.module.css
  src/components/GlobalSettings/GlobalSettings.tsx
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/TaxChart/TaxChart.module.css
  src/components/TaxChart/TaxChart.tsx
  src/components/caseSettings/CaseSettings.module.css
  src/components/caseSettings/CaseSettings.tsx
  src/index.css
  src/main.tsx
  src/pages/HomePage/HomePage.module.css
  src/pages/HomePage/HomePage.tsx
  src/styles/global.css
  src/styles/variables.css
Due: prettier --write, eslint --fix

ci: add devstand preview deployment
  .github/workflows/devstand.yml
Due: none

deploy: 7a9325983fbe3f532dbaddf37b140d900bdbaa39
  .nojekyll
  devstand/PR-9/assets/index-BMg0DCGe.css
  devstand/PR-9/assets/index-DcwdTgoC.js
  devstand/PR-9/index.html
Due: prettier --write

ci: update command
  .github/workflows/devstand.yml
Due: none

build: add base
  vite.config.js
Due: prettier --write

deploy: f0b9e580661fcfefbb9c113fc5fad7f5de53b477
  devstand/PR-9/index.html
Due: prettier --write

ci: update comment format
  .github/workflows/devstand.yml
Due: none

build: update base
  vite.config.js
Due: prettier --write

deploy: 46f1e4dcf2ad6f0b64a0affda51f211667129d56
  devstand/PR-9/index.html
Due: prettier --write

ci: update previewUrl for testing
  .github/workflows/devstand.yml
Due: none

ci: update body
  .github/workflows/devstand.yml
Due: none
